{% load static %}
{% load participant_extras %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="{% static 'drunk/style.css' %}" rel="stylesheet">
    <!-- <link href="../../static/drunk/style.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Optional theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/fea871f00c.js"></script>
    <link rel="icon" type="image/png" href="{% static 'assets/shot.png' %}">

    <title>Drunk</title>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // show dashboard of the first loaded event
        showDashboard({{eventId}});

        // changing an event would change the dashboard
        $('#event').change(function() {
          showDashboard($(this).val());
        });
      });

      // show the dashboard details
      function showDashboard(eventId) {
        fetch(`{% url 'shots:dashboard_table_empty' %}${eventId}`)
        .then(response => response.json())
        .then(data => {
          $('#dashboard-tbody-view').empty();
          $('#dashboard-tbody-view').append(data.response);
          $('#total-cost').empty();
          if (parseInt(data.totalCost) > 0){
            $('#total-cost').html('Total Payment: ' + data.totalCost);
          }
          $('#new-round-button').attr('href', {% url 'shots:index' %} + eventId);

        })
      };

    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'shots:index' %}">
        <img src="{% static 'assets/shot.png' %}" height="30" width="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="">Balance Dashboard<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'shots:index' %}">Event Detail</a></li>
        </ul>
      </div>
    </nav>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
      <div class="col-lg-6 col-sm-10 col-10">
        <select id="event" name="event" class="form-control ml-auto mr-0" style="width:auto;">
          {% for e in events %}
            {% if e.id == eventId %}
              <option value="{{e.id}}" selected>
                {{e.name}}
              </option>
            {% else %}
              <option value="{{e.id}}">
                {{e.name}}
              </option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
      <div class="col-lg-6 col-md-10 col-sm-12 col-12 table-responsive">
        <table class="table table-striped" id="dashboard-table-view">
          <thead><th>&nbsp;</th><th>Cash Out</th><th>Expense</th><th>Final</th></thead>
          <tbody id='dashboard-tbody-view'>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
      <div class="col-lg-6 col-md-10 col-sm-12 col-12">
        <div class="d-flex justify-content-center">
          <span class="total-cost" id="total-cost"></span>
        </div>
        <div class="clearfix"></div>
        <div class="d-flex justify-content-center">
          <a id="new-round-button" class="btn btn-drunk-primary" href="{% url 'shots:index' %}{{eventId}}">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            To The Event!
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
