{% load static %}
{% load participant_extras %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="{% static 'drunk/style.css' %}" rel="stylesheet">
    <!-- <link href="../../static/drunk/style.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Optional theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>Drunk</title>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // show dashboard of the first loaded event
        showDashboard({{eventId}});

        // changing an event would change the dashboard
        $('#event').change(function() {
          showDashboard($(this).val());
        });
      });

      // show the dashboard details
      function showDashboard(eventId) {
        fetch(`../dashboard_table/${eventId}`)
        .then(response => response.json())
        .then(data => {
          $('#dashboard-tbody-view').empty();
          $('#dashboard-tbody-view').append(data.response);
          $('#total-cost').empty();
          $('#total-cost').html('Total Payment: ' + data.totalCost);
          $('#new-round-button').attr('href', {% url 'shots:index'%} + eventId);

        })
      };

    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="{% static 'assets/shot.png' %}" height="30" width="30">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./{{eventId}}">Balance Dashboard<span class="sr-only">(current)</span></a></li>
            <li><a href="../{{eventId}}">Event Detail</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="header">&nbsp;</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <select id="event" name="event"= style="width: 100%">
        {% for e in events %}
          {% if e.id == eventId %}
            <option value="{{e.id}}" selected>
              {{e.name}}
            </option>
          {% else %}
            <option value="{{e.id}}">
              {{e.name}}
            </option>
          {% endif %}
        {% endfor %}
      </select>

    </div>

    <div class="clearfix"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <table class="table table-striped" id="dashboard-table-view">
        <thead><th></th><th>Cash Out</th><th>Expense</th><th>Final</th></thead>
        <tbody id='dashboard-tbody-view'>
        </tbody>
      </table>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      {% if totalCost != 0 %}
        <div class="col-lg-12">
          <div class="total-cost" id="total-cost">Total Payment: {{totalCost}}</div>
        </div>
        <div class="clearfix"></div>
      {% endif %}
      <div class="center-block">
        <a id="new-round-button" class="btn btn-primary" href="{% url 'shots:index' %}{{eventId}}">
          New Round
        </a>
      </div>
    </div>

  </body>
</html>
