{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="{% static 'drunk/style.css' %}" rel="stylesheet">
    <!-- <link href="../../static/drunk/style.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>Drunk</title>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.quantity-left-minus').forEach(button => {
          let inputId = button.dataset.field;
          console.log(inputId);
          button.onclick = function () {
            let quantity = parseInt($("#"+inputId).val());
            console.log(parseInt($("#"+inputId).val()));
            if( quantity > 0 ) {
              $("#"+inputId).val(quantity - 1);
            }
            if($("#"+inputId).val() == 0){
              button.disabled = true;
            }
          }
        });

        document.querySelectorAll('.quantity-right-plus').forEach(button => {
          let inputId = button.dataset.field;
          button.onclick = function () {
            let quantity = parseInt($("#"+inputId).val());
            $("#"+inputId).val(quantity + 1);
            if($("#"+inputId).val() > 0){
              let buttons = document.querySelectorAll('[data-field="'+inputId+'"]');
              for (i = 0; i < buttons.length; ++i) {
                if(buttons[i].classList.contains('quantity-left-minus')){
                  if(buttons[i].disabled == true){
                    buttons[i].disabled = false;
                  }
                }
              }
            }
          }
        });

        // assign value to a hidden field on add participant modal
        updateRoundId();
        getRoundDetail($('#roundList').val())

        // on the change of the round, change the value accordingly in participant modal
        $('#roundList').change(function() {
          updateRoundId();
          getRoundDetail($(this).val());
        });

        $('#eventList').change(function () {getRound($(this).val())});
      });
      // end of document.ready

      function getRound(eventId) {
          fetch(`getRoundList/${eventId}`)
          .then(response => response.text())
          .then(text => {
            $('#roundList').empty();
            $('#roundList').append(text);
            updateRoundId();
            getRoundDetail($('#roundList').val())
          });
      };

      function updateRoundId() {
        $('#participant-round-id').val($('#roundList').val());
        // alert($('#participant-round-id').val());
      };

      function getRoundDetail(roundId) {
        if (roundId != 0){
          fetch(`getRoundDetail/${roundId}`)
          .then(response => response.json())
          .then(data => {
            $('#total').val(data.total);
            $('#payeeList').val(data.payee);
            $('#note').val(data.note);
            for (p in data.pq) {
              $(`#${p}`).val(data.pq[p]);
            };
          });
        }
        else {
          $('#form_event').trigger('reset');
        };
      };

    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="{% static 'assets/shot.png' %}" height="30" width="30">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="dashboard/{{lastEvent.id}}">Balance Dashboard<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="./{{lastEvent.id}}">Event Detail</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="clearfix"></div>
    <div class="col-lg-3"></div>
    <form class="col-lg-6" id="form_event" action="{% url 'shots:addRound' %}" method="post">
      {% csrf_token %}
      <div class="col-lg-12">
        <div class="col-lg-5">
          <select id="eventList" class="form-control" name="event">
            {% for event in events %}
              {% if event == lastEvent %}
                <option value="{{ event.id }}" selected>{{ event.name }}</option>
              {% else %}
                <option value="{{ event.id }}">{{ event.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add Event
          </button>

        </div>
        <div class="col-lg-5">
          <select id="roundList" class="form-control" name="round">
            <option value=0> + New Round</option>
            {% for round in rounds %}
              {% if round == lastRound %}
                <option value="{{ round.id }}" selected>{{ round.order }}</option>
              {% else %}
                <option value="{{ round.id }}">{{ round.order }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
      <div id="participantList">
        {% for participant in participants %}
          <div class="form-group">
            <label>{{ participant.name }} </label>
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="{{ participant.name }}-quantity">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
              <input type="hidden" name="participant" value="{{ participant.id }}">
              <input type="text" id="{{ participant.name }}-quantity" name="quantity-{{ participant.id }}" class="form-control input-number" value="0" min="0" max="100">
              <span class="input-group-btn">
                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="{{ participant.name }}-quantity">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        {% endfor %}
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddParticipantModal">
        Add Participant
      </button>
      <div class="clearfix"></div>
      <div class="form-group">
        <select id="payeeList" class="form-control" name="payee">
          <option selected disabled hidden value="">Please select one</option>
          {% for participant in participants %}
            <option value="{{ participant.id }}">{{ participant.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Total </label>
        <div class="input-group">
          <input id="total" type="text" class="form-control" placeholder="500" name="total" required>
          <span class="input-group-addon">,000</span>
        </div>
      </div>
      <div class="form-group">
        <label>Note </label>
        <input id="note" type="text" class="form-control" placeholder="Note" name="note">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <!-- Modals start here -->
    <!-- Add Event Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <form action="{% url 'shots:addEvent' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                  <label for="event-name" class="control-label">Event:</label>
                  <input type="text" class="form-control" id="event-name" name="event-name">
                  <p style="font-style: italic"> Leave blank to use today as the event name.</p>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Add Participant Modal -->
    <div class="modal fade" id="AddParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <form action="{% url 'shots:addParticipant' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                  <label for="participant-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="participant-name" name="participant-name" required>
                  <label for="participant-nickname" class="control-label">Nickname:</label>
                  <input type="text" class="form-control" id="participant-nickname" name="participant-nickname">
                  <label for="participant-type" class="control-label">Frequent Member?:</label>
                  <input type="checkbox" id="participant-type" name="participant-type" value="True">
                  <input type="text" hidden id="participant-round-id" name="round-id" value="1">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
