{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- Optional theme -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/fea871f00c.js"></script>
    <script  type="text/javascript" src="{% static 'drunk/typeahead.jquery.js' %}"></script>
    <link href="{% static 'drunk/style.css' %}" rel="stylesheet">
    <link href="{% static 'drunk/typeahead.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'assets/shot.png' %}">
    <title>Drunk</title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{% static 'assets/shot.png' %}" height="30" width="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if lastEvent %}
          <li class="nav-item"><a class="nav-link" href="{% url 'shots:dashboard' lastEvent.id %}">Balance Dashboard</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'shots:dashboard_empty' %}">Balance Dashboard</a></li>
          {% endif %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'shots:index' %}">Event Detail<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </nav>

    <div class="clearfix"></div>
    <div class="wrapper">
      <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
      <form class="col-12 col-sm-12 col-md-10 col-lg-6" id="form_event" action="{% url 'shots:addRound' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-drunk-outline-primary" data-toggle="modal" data-target="#addEventModal">
            <i class="fa fa-plus" aria-hidden="true"></i><span class="sm-only"> Event</span>
          </button>
          <select id="eventList" class="form-control" name="event">
            {% for event in events %}
              {% if event == lastEvent %}
                <option value="{{ event.id }}" selected>{{ event.name }}</option>
              {% else %}
                <option value="{{ event.id }}">{{ event.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="clearfix"></div>

        <div class="d-flex justify-content-end">
          <select id="roundList" class="form-control" name="round">
            <option value=0 selected> + New Round</option>
            {% for round in rounds %}
              <option value="{{ round.id }}">Round {{ round.order }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
          <label>Participant </label>
          <div id="participantList" class="row">
            {% for participant in participants %}
            <div class="col-lg-6 col-sm-6 col-6 participant">
              <div class="form-group">
                <div class="input-group drunk">
                  <div class="col-lg-5 col-sm-6 col-12" style="display: flex; align-items: center">
                    <span class="d-inline-block text-truncate">{{ participant.name }}</span>
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-number"  data-type="minus" data-field="{{ participant.name }}-quantity">
                      <i class="fa fa-minus drunk" aria-hidden="true"></i>
                    </button>
                  </span>
                  <input type="hidden" name="participant" value="{{ participant.id }}">
                  <input type="text" id="{{ participant.name }}-quantity" name="quantity-{{ participant.id }}" class="form-control input-number participant-quantity" value="0" min="0" max="100">
                  <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="{{ participant.name }}-quantity">
                      <i class="fa fa-plus drunk" aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-6 col-sm-6 col-6" id='add-participant-button'>
              <div class="form-group" style="position: relative">
                <button type="button" class="btn btn-drunk-outline-primary" data-toggle="modal" data-target="#AddParticipantModal">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Payee </label>
          <select id="payeeList" class="form-control" name="payee">
            <option selected disabled hidden value="">Please select one</option>
            {% for participant in participants %}
              <option value="{{ participant.id }}">{{ participant.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Total </label>
          <div class="input-group">
            <input id="total" type="text" class="form-control" placeholder="500" name="total" required>
            <div class="input-group-append">
              <span class="input-group-text">,000</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Note </label>
          <input id="note" type="text" class="form-control" placeholder="Note" name="note">
        </div>
        <div class="form-group d-flex justify-content-center">
          <button type="submit" class="btn btn-drunk-primary submit-form-event">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            Add A Round
          </button>
        </div>
      </form>
    </div>

    <!-- Modals start here -->
    <!-- Add Event Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add New Event</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form action="{% url 'shots:addEvent' %}" method="post" id="Add-Event-Form">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                  <label for="event-name" class="control-label">Event:</label>
                  <input type="text" class="form-control" id="event-name" name="event-name">
                  <p style="font-style: italic"> Event name must be unique.</p>
                  <p style="font-style: italic"> Leave blank to use today as the event name.</p>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-drunk-primary">Create Event</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Add Participant Modal -->
    <div class="modal fade" id="AddParticipantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add New Participant</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form action="{% url 'shots:addParticipant' %}" method="post" id="Add-Participant-Form" name="Add-Participant-Form">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label for="addingMethod">Adding Method</label>
                <select class="form-control" id="addingMethod" name="adding-method">
                  <option value="0" selected>Existing Participant</option>
                  <option value="1">New Participant</option>
                </select>
              </div>
              <div class="form-group existing-participant">
                <label for="participant-name" class="control-label">Name:</label>
                <div class="clearfix"></div>
                <div class="form-group">
                  <input type="text" class="form-control typeahead" id="participantAutocomplete" name="current-participant-name" placeholder="Name of participant" required >
                </div>
              </div>
              <div class="form-group new-participant">
                <label for="participant-name" class="control-label">Name:</label>
                <input type="text" class="form-control" id="participant-name" name="participant-name" required>
              </div>
              <div class="form-group new-participant">
                <label for="participant-nickname" class="control-label">Nickname:</label>
                <input type="text" class="form-control" id="participant-nickname" name="participant-nickname">
              </div>
              <div class="form-group new-participant">
                <label for="participant-type" class="control-label">Frequent Member?:</label>
                <input type="checkbox" id="participant-type" name="participant-type" value="True">
                <span>Yes</span>
              </div>
              <div class="form-group" hidden>
                <input type="text" id="participant-round-id" name="round-id" value="1">
                <input type="text" id="participant-event-id" name="event-id" value="1">
                <input type="text" id="current-participant-id" name="current-participant-id" value="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-drunk-primary">Add Participant</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center fixed-bottom toast-area-hidden" style="min-height: 200px;" id="toast-area">
      <!-- Then put toasts within -->
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-alert" data-delay="3000">
        <div class="toast-header">
          <svg width="20" height="20" class="rounded mr-2">
            <rect width="20" height="20"/>
          </svg>
          <strong class="mr-auto">Success</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </div>

    <!-- script starts here -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        adjustQuantity();

        // assign value to a hidden field on add participant modal
        updateRoundId();
        getRoundDetail($('#roundList').val())
        $('#participant-event-id').val($('#eventList').val());

        // on the change of the round, change the value accordingly in participant modal
        $('#roundList').change(function() {
          updateRoundId();
          getRoundDetail($(this).val());
        });

        $('#eventList').change(function () {
          getRound($(this).val());
          $('#participant-event-id').val($(this).val());
        });

        $('#add-participant-button').height(document.getElementById('participantList').children[0].children[0].clientHeight);

        // add a new participant
        $('#Add-Participant-Form').submit(function (event) {
          // Stop form from submitting normally
          event.preventDefault();

          let $form = $(this),
            nameForm = $form.find( "input[name='participant-name']" ).val(),
            nicknameForm = $form.find( "input[name='participant-nickname']" ).val(),
            typeForm = $form.find( "input[name='participant-type']:checked" ).val(),
            eventId = $form.find( "input[name='event-id']" ).val(),
            roundId = $form.find("input[name='round-id']").val(),
            urlForm = $form.attr( "action" ),
            csrf = $form.find("input[name='csrfmiddlewaretoken']").val();

          if (typeForm === undefined){
            typeForm = "False";
          };
          let input = $form.serialize();
          // alert(JSON.stringify(input));

          $.ajax({
            url: urlForm,
            data: input,
            method: "POST",
            dataType: "json",
            error: function (response) {
              // console.log(response);
              // create toast
              $('#toast-area').removeClass("toast-area-hidden").addClass("toast-area-show");
              $('#toast-alert').children('.toast-header').children('strong').eq(0).empty().append(response.responseJSON.status).css({"color": "#721c24"});
              $('#toast-alert').children('.toast-header').children('svg').eq(0).css({'fill': '#f8d7da'});
              $('#toast-alert').children('.toast-body').eq(0).empty().append(response.responseJSON.message);
              $('#toast-alert').toast('show');
              $('#toast-alert').on('hidden.bs.toast', function (){
                $('#toast-area').removeClass("toast-area-show").addClass("toast-area-hidden");
              });

            },
            success: function(response) {
              // console.log(response);
              let htmlResponse = $.parseHTML(response.htmlResponse);
              let i = document.getElementById('participantList').childElementCount - 2;
              let list = document.getElementById('participantList');

              // create toast
              $('#toast-area').removeClass("toast-area-hidden").addClass("toast-area-show");
              $('#toast-alert').children('.toast-header').children('strong').eq(0).empty().append(response.status).css({"color": "#155724"});
              $('#toast-alert').children('.toast-header').children('svg').eq(0).css({'fill': '#d4edda'});
              $('#toast-alert').children('.toast-body').eq(0).empty().append(response.message);
              $('#toast-alert').toast('show');
              $('#toast-alert').on('hidden.bs.toast', function (){
                $('#toast-area').removeClass("toast-area-show").addClass("toast-area-hidden");
              });

              // append the + and - function to new participant
              $('#participantList').children().eq(i).after(response.htmlResponse);
              adjustQuantity();

              // add the new participant to the payee
              $('#payeeList').append($('<option>', {value: response.id, text:response.name}));

              // refresh the modal
              $('#Add-Participant-Form').trigger('reset');
              $('#AddParticipantModal').modal('hide');
              addParticipantMethod($('#addingMethod').val());

              let currentParticipantUpdated = response.currentParticipant;

              // change the data source of typeahead
              $('#participantAutocomplete').typeahead('destroy','NoCached');
              $('#participantAutocomplete').typeahead(
                {
                  hint: true,
                  highlight: true,
                  minLength: 1
                },
                {
                  name: 'currentParticipantUpdated',
                  source: substringMatcher(currentParticipantUpdated)
                }
              );
              // $('#participantAutocomplete').data('typeahead').source = response.currentParticipant;

              // update hidden field
              $('#current-participant-id').val(response.currentParticipantId);
            }
          });

        });

        $('#Add-Event-Form').submit(function (event) {
          // Stop form from submitting normally
          event.preventDefault();

          let $form = $(this),
            nameForm = $form.find( "input[name='event-name']" ).val(),
            urlForm = $form.attr( "action" ),
            csrf = $form.find("input[name='csrfmiddlewaretoken']").val();

          let input = $form.serialize();

          $.ajax({
            url: urlForm,
            data: input,
            method: "POST",
            dataType: "json",
            error: function (response) {
              if (response.status == 200) {
                document.open();
                document.write(response.responseText);
                document.close()
              }
              else {
                // create toast
                $('#toast-area').removeClass("toast-area-hidden").addClass("toast-area-show");
                $('#toast-alert').children('.toast-header').children('strong').eq(0).empty().append(response.responseJSON.status).css({"color": "#721c24"});
                $('#toast-alert').children('.toast-header').children('svg').eq(0).css({'fill': '#f8d7da'});
                $('#toast-alert').children('.toast-body').eq(0).empty().append(response.responseJSON.message);
                $('#toast-alert').toast('show');
                $('#toast-alert').on('hidden.bs.toast', function (){
                  $('#toast-area').removeClass("toast-area-show").addClass("toast-area-hidden");
                });
              }
            },
            success: function (response) {
              console.log("success");
              console.log(response);
            }
          });

          // let formData = new FormData();
          //
          // formData.append("event-name", nameForm);
          // formData.append("csrfmiddlewaretoken", csrf);
          //
          // fetch(urlForm, {
          //   method : 'POST',
          //   credentials: "same-origin",
          //   headers: {
          //     "X-CSRFToken": csrf,
          //     "Accept": "application/json",
          //     // 'Content-Type': 'application/json',
          //     'Content-Type': 'multipart/form-data',
          //   },
          //   // body : JSON.stringify({'event-name': nameForm, 'csrfmiddlewaretoken' : csrf}),
          //   body : formData,
          //   redirect : 'follow',
          // })
          // .then(response => {
          //   console.log(response);
          // })
        });

        $('#AddParticipantModal').on('shown.bs.modal', function () {
          $('#Add-Participant-Form input').trigger('focus')
        });

        $('#addEventModal').on('shown.bs.modal', function () {
          $('#Add-Event-Form #event-name').trigger('focus')
        });

        // auto complete field
        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
          };
        };

        {% autoescape off %}
        currentParticipant = {{currentParticipant}};
        {% endautoescape %}

        $('#participantAutocomplete').typeahead(
          {
            hint: true,
            highlight: true,
            minLength: 1
          },
          {
            name: 'currentParticipant',
            source: substringMatcher(currentParticipant)
          }
        );
        // end of auto complete field

        addParticipantMethod($('#addingMethod').val());

        $('#addingMethod').change(function () {
          addParticipantMethod($(this).val());
        });

        checkFirstEvent();

        {% autoescape off %}
        $("#current-participant-id").val({{currentParticipantId}});
        {% endautoescape %}

      }); // end of document.ready

      var currentParticipant = []

      function adjustQuantity () {
        document.querySelectorAll('.quantity-left-minus').forEach(button => {
          let inputId = button.dataset.field;
          if (parseInt($("#"+inputId).val()) == 0) {
            button.disabled = true;
          };
          button.onclick = function () {
            let quantity = parseInt($("#"+inputId).val());
            // console.log(parseInt($("#"+inputId).val()));
            if( quantity > 0 ) {
              $("#"+inputId).val(quantity - 1);
            }
            if($("#"+inputId).val() == 0){
              button.disabled = true;
            }
          }
        });

        document.querySelectorAll('.quantity-right-plus').forEach(button => {
          let inputId = button.dataset.field;
          button.onclick = function () {
            let quantity = parseInt($("#"+inputId).val());
            $("#"+inputId).val(quantity + 1);
            if($("#"+inputId).val() > 0){
              let buttons = document.querySelectorAll('[data-field="'+inputId+'"]');
              for (i = 0; i < buttons.length; ++i) {
                if(buttons[i].classList.contains('quantity-left-minus')){
                  if(buttons[i].disabled == true){
                    buttons[i].disabled = false;
                  }
                }
              }
            }
          }
        });
      }

      function getRound(eventId) {
          fetch(`getRoundList/${eventId}`)
          .then(response => response.text())
          .then(text => {
            $('#roundList').empty();
            $('#roundList').append(text);
            updateRoundId();
            getRoundDetail($('#roundList').val())
          });
      };

      function updateRoundId() {
        $('#participant-round-id').val($('#roundList').val());
        // alert($('#participant-round-id').val());
      };

      function getRoundDetail(roundId) {
        if (roundId != 0){
          fetch(`getRoundDetail/${roundId}`)
          .then(response => response.json())
          .then(data => {
            $('#total').val(data.total);
            $('#payeeList')
            .find('option')
            .remove();

            $('#note').val(data.note);
            $('#participantList').children('.participant').remove();
            $('#participantList').prepend(data.htmlResponse);
            adjustQuantity();
            if (jQuery.isEmptyObject(data.pq) == false){
              for (p in data.pq) {
                $(`#${p}-quantity`).val(data.pq[p]);
              };
            }
            if (jQuery.isEmptyObject(data.pn) == false){
              $('#payeeList').append('<option selected disabled hidden value="">Please select one</option>');
              for (p in data.pn) {
                $('#payeeList').append(`<option value="${p}">${data.pn[p]}</option>`);
              }
            }

            if (data.payee != ""){
              $('#payeeList').val(data.payee);
            } else {
              $('#payeeList').val("");
            }

            $('.submit-form-event').empty().append('<i class="fa fa-paper-plane" aria-hidden="true"></i> Update');
          });
        }
        else {
          $('#form_event').trigger('reset');
          $('.submit-form-event').empty().append('<i class="fa fa-plus-square" aria-hidden="true"></i> Add A Round');
        };
      };

      function addParticipantMethod (method) {
        if (method == 0){ // existing participant
          $('.existing-participant').show();
          $('#participantAutocomplete').attr('required', 'required');
          $('.new-participant').hide();
          $('#participant-name').removeAttr('required');
          $('#Add-Participant-Form input').trigger('focus');
        }
        else if (method == 1){
          $('.existing-participant').hide();
          $('#participantAutocomplete').removeAttr('required');
          $('.new-participant').show();
          $('#participant-name').attr('required', 'required');
          $('#Add-Participant-Form .new-participant input:first').trigger('focus');
        }
      }

      function checkFirstEvent() {
        if ($('#eventList option').length == 0){
          $('#addEventModal').modal('show');
        }
      }


    </script>
  </body>
</html>
